.shadow-smooth {
    box-shadow: 0px 5px 5px rgba(3, 7, 18, 0.01),
    0px 32px 34px rgba(3, 7, 18, 0.03);
}

body {
    background-color: #f6f8fd !important;
    font-family: 'Lexend', sans-serif !important;
}